<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <!-- # install bootstrap

  # make this a jumbotron

  # create other pages and free style with screens

  # set up database and take a database course -->

  <h1>FreeLancer's Heaven</h1>

  <h2>Have a service to offer get booked here! </h2>
<div class="signUpForm">
  <form action="">
    


  </form>
</div>

</body>
</html>
